.reaction-1hd86g,.reaction-1hd86g:hover{
    background-color:var(--background-modifier-accent);
    border: none;
    border-radius:.25rem;
}
.reaction-1hd86g.reactionMe-wv5HKu{
    background-color:rgba(114,137,218,.3);
}