.channel-2QD9_O[href*="id"]>div>.content-3QAtGj>div>div>.overflow-WK9Ogt:after{
    content:"Name";
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
  }
  [data-author-id="id"]>div>h2>span>.username-1A8OIy::after{
    content:"Name";
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
  }
  .channel-2QD9_O[href*="id"]>div>.content-3QAtGj>div>div>.overflow-WK9Ogt{
        visibility: hidden;
      position: relative;
  }
  [data-user-id="id"]+.header-3uLluP::after{
    content:"Name";
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
  }
  [data-user-id="id"]+.header-3uLluP{
        visibility: hidden;
      position: relative;
  }
  [data-author-id="id"]>div>h2>span>.username-1A8OIy{
        visibility: hidden;
      position: relative;
  }
  [data-author-id="id"]>div>h2>.timestamp-3ZCmNB{
    position:relative;
    left:0px;
  }