#status-picker {
  position: absolute;
  bottom: -75px;
  width: 217px;
  left: 84px;
  background-color: var(--background-secondary);
  height: 50px;
}
#status-picker .scroller-3BxosC {
  display: flex;
  justify-content: center;
}
#status-picker .separator-2I32lJ {
  display: none;
}
#status-picker .item-1tOPte {
  width: calc(100% / 4);
  border-radius: 0;
  transition: all 250ms linear;
}
#status-picker .item-1tOPte .status-1fhblQ, #status-picker .item-1tOPte .description-2L932D, #status-picker .item-1tOPte .status-1fhblQ + *, #status-picker .item-1tOPte .customText-tY5LJn {
  display: none;
}
#status-picker .item-1tOPte .icon-1IxfJ2 {
  transform: translate(75%, 25%);
}
#status-picker .item-1tOPte .clearStatusIcon-3-MDNF {
  margin: 0;
  transform: translate(-10%, 10%);
  color: white !important;
}
#status-picker .item-1tOPte .icon-1IxfJ2 .status-1AY8sU {
  background: white !important;
  transition: all 250ms linear;
}
#status-picker .item-1tOPte:hover {
  background: white !important;
}
#status-picker .item-1tOPte#status-picker-online {
  background: var(--online);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
#status-picker .item-1tOPte#status-picker-online:hover .icon-1IxfJ2 .status-1AY8sU {
  background: var(--online) !important;
}
#status-picker .item-1tOPte#status-picker-idle {
  background: var(--idle);
}
#status-picker .item-1tOPte#status-picker-idle:hover .icon-1IxfJ2 .status-1AY8sU {
  background: var(--idle) !important;
}
#status-picker .item-1tOPte#status-picker-dnd {
  background: var(--dnd);
}
#status-picker .item-1tOPte#status-picker-dnd:hover .icon-1IxfJ2 .status-1AY8sU {
  background: var(--dnd) !important;
}
#status-picker .item-1tOPte#status-picker-invisible {
  background: var(--offline);
}
#status-picker .item-1tOPte#status-picker-invisible:hover .icon-1IxfJ2 .status-1AY8sU {
  background: var(--offline) !important;
}
#status-picker .item-1tOPte#status-picker-custom-status {
  background-color: #5c6fb1;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
#status-picker .item-1tOPte#status-picker-custom-status:hover .clearStatusIcon-3-MDNF {
  color: #5c6fb1 !important;
}
